body{
    background-color: rgb(203, 225, 234);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
/* formataçao do menu navegaçao */
#h1-1{
    color:rgb(22, 42, 80);
    font-size: 35px;
}
#h2-1{
    color:rgb(22, 42, 80);
    font-size: 28px;
}
#menu{
    width: 250px;
    height: 250px;
    border: 3px solid rgb(22, 42, 80);
    padding: 20px;
    margin: 15px;
    text-align: center;
    background-color: cornflowerblue;
}
header{
    background-color: #1867a9;
    padding: 15px;
    text-align: center;
    height: 200px;
}
/* formataçao de links */
li{
    list-style: none;
    display: inline;
    margin-right: 10px;
}
a{
    color: white;
    text-decoration:none;
}
a:link{
    color:white
}
a:hover{
    background-color:#39f;
    border-radius: 10px 20px;
}
nav{
    margin-top: 20px;
    text-align: center;
}
/* formataçao de titulos subtitulos e textos */
#h3-1{
    color:rgb(22, 42, 80);
    font-size: 25px; 
}
#parag-1{
    color: black;
    font-size: 18px;
}
#lista-1{
    width: 75px;
    height: 90px;
    border: 1px solid rgb(22, 42, 80);
    padding: 20px;
    margin: 15px;
    text-align: center;
    background-color: cornflowerblue;
}
#h3-2{
    color:rgb(22, 42, 80);
    font-size: 25px; 
}
#p-1{
    color: black;
    font-size: 18px;  
}
#h3-3{
    color:rgb(22, 42, 80);
    font-size: 25px; 
}
#p-2{
    color: black;
    font-size: 18px;  
}
#h3-4{
    color:rgb(22, 42, 80);
    font-size: 25px; 
}
#p-3{
    color: black;
    font-size: 18px;  
}
#h3-5{
    color:rgb(22, 42, 80);
    font-size: 25px; 
}
#p-4{
    color: black;
    font-size: 18px;  
}
#h3-6{
    color:rgb(22, 42, 80);
    font-size: 25px; 
}
#p-5{
    color: black;
    font-size: 18px;  
}
#h3-7{
    color:rgb(22, 42, 80);
    font-size: 25px; 
}
#p-6{
    color: black;
    font-size: 18px;  
}
#h2-2{
    color:rgb(22, 42, 80);
    font-size: 25px;
}
#img-2{
    text-align: center;
}
#h3-8{
    color:rgb(22, 42, 80);
    font-size: 25px;
}
#h4-1{
    color:rgb(22, 42, 80);
    font-size: 25px;
}
#lista-2{
    color: black;
    font-size: 18px; 
}
/* formataçao do conteudo do segundo bimestre */
#h2-3{
    color:rgb(22, 42, 80);
    font-size: 25px; 
    text-align: center; 
}
#h3-9{
    color:rgb(22, 42, 80);
    font-size: 25px; 
}
#p-7{
    color: black;
    font-size: 18px; 
}
#img-3{
    text-align: center;
}







/* formataçao do main */
main{
    margin: 0 auto;
    background-color:lightgray;
    margin: 50px; ;
    padding: 25px;
}
/*  formataçao da seçao 1 */
.secao-1{
    width: 100%;
    background-color:lightgray;

}
/* formataçao do footer */
#footer{
    width: 300px center;
    height: 65px;
    border: 3px solid rgb(22, 42, 80);
    padding: 20px;
    margin: 15px;
    text-align: center;
    font-size: 18px;
    background-color: cornflowerblue;
}
